* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}


.panel {
    height: 80vh;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px; 
    position: relative;
    transition: all 0.5s ease-in-out;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    opacity: 0;
    left: 20px;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s; /* empieza lento y acelera al final */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 10px;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   /* border-radius: 50px;*/
}


